/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------------------------------------------------------------------------------------*/
/* INDEX.HTML */
/*-----------------------------------------------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* BODY */
body{
    height:max-content;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 153, 204);
}

/*-----------------------------------------------------------------------------------------------------------*/

/* HEADER (hd) */
header{
    height: 60px;
    width: 100%;
    margin: 0px;
    
    background-color: rgb(189, 186, 36);

    display: flex;
    flex-direction: row;
    position: fixed;
}

.hd-nav-bar-item{
    color:black;
    margin: auto 10px auto 10px;
    text-decoration: none;

    font-size: 25px;
    border: 1px black;
}

/* MAIN (mn) */


/* FOOTER (ft) */


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------------------------------------------------------------------------------------*/
/* LOGIN */
/*-----------------------------------------------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* BODY */
.login-container{
    height: 80%;
    width: 50%;
    margin: 10% auto 5px auto;
    padding: 50px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.login-title{
    font-size: 50px;
    margin: 0 auto 0 auto;
}

.login-text{
    font-size: 20px;
}

.login-button{
    height: 50px;
    width: 200px;
    margin: 0 auto 0 auto;

    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    font-size: 20px;

    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------------------------------------------------------------------------------------*/
/* PROFILE */
/*-----------------------------------------------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MAIN (pr) */
.profile-main{
    height: 1000px;
}

.profile-container{
    height: 450px;
    width: 70%;
    margin: 10px auto 5px auto;
    border-radius: 20px;

    background-color: rgb(13, 95, 150);

    display: flex;
    flex-direction: row;
    justify-self: center;
}

.profile-container-1{
    width: 600px;

    display: flex;
    flex-direction: column;
}

.profile-container-2{
    width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.profile-img{
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 50%;
    align-self: flex-start;
}

.profile-name{
    font-size: 20px;
    margin: 0 0 0 10%;
}